<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Admin Login</title>

	<link rel="stylesheet" th:href="@{/css/admin_css/admin_login.css}">
</head>

<body>

	<div class="login-wrapper">
		<!-- 左側 -->
		<div class="side"></div>

		<!-- 真ん中 -->
		<div class="center">
			<main class="form-signin">
				<form th:action="@{/portfolio_adminLogin}" method="post">
				    <h1 class="title">管理者　ログイン</h1>

				    <div class="form-group">
				        <input type="email" name="email" placeholder="メールアドレス" required>
				    </div>

				    <div class="form-group">
				        <input type="password" name="password" placeholder="パスワード" required>
				    </div>

				    <button type="submit">Sign in</button>

				    <!-- エラーメッセージ -->
				    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
				</form>
			</main>
		</div>

		<!-- 右側 -->
		<div class="side"></div>
	</div>

</body>

</html>