/* layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.dashboard-wrapper {
    display: flex;
    height: 100vh;
}

/* side black */
.side {
    width: 15%;
    background-color: #000;
}

.side.left {
    border-right: 2px solid #333;
}

.side.right {
    border-left: 2px solid #333;
}

/* center white */
.center {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* Title */
.center .title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

/* From */
.form-box {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
